
.icon-close__red, .icon-close__turquoise, .icon-send__hover, .icon-send__normal {
    background-image: url(./~sprite.fdaef4.png);
}


@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
    .icon-close__red, .icon-close__turquoise, .icon-send__hover, .icon-send__normal {
        background-image: url(~sprite.fbe442@2x.png);
        background-size: 72px 42px;
    }
}


.icon-close__red {
    background-position: 0px 0px;
}

.icon-close__turquoise {
    background-position: -27px 0px;
}

.icon-send__hover {
    background-position: 0px -27px;
}

.icon-send__normal {
    background-position: -54px 0px;
}
